body{
   color: rgb(71, 77, 86);
   background: linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
   font-size: 1.2rem;
}
footer{
   color: black;
   background: linear-gradient(to left, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
/*   
background: linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
*/
}